In [1]:
#Create a user defined function to accept the demand(as a dictionary) and capacity of the production 
#and returns a dataframe which shows the data with Extra quantity and remaining capacity
#The function should also return the adjusted quantity

In [2]:
dict1={'jan': 1200, 'feb': 800, 'mar': 700, 'apr': 900, 'may': 1500, 'jun': 500, 'jul': 800, 'aug': 1400, 'sep': 110, 'oct': 100, 'nov': 85, 'dec': 1150}
dict1

{'jan': 1200,
 'feb': 800,
 'mar': 700,
 'apr': 900,
 'may': 1500,
 'jun': 500,
 'jul': 800,
 'aug': 1400,
 'sep': 110,
 'oct': 100,
 'nov': 85,
 'dec': 1150}

In [3]:
def Task1(capacity,demand):
    d=demand
    key=list(d.keys())
    valu=list(d.values())
    cap=capacity
    Month=[]
    Cap=[]
    Dem=[]
    Extra_Qty=[]
    Rem_Cap=[]
    for i in range(len(key)):
        Month.append(key[i])
        Cap.append(cap)
        Dem.append(valu[i])
        
        if valu[i]>cap :
            Extra_Qty.append(valu[i]-cap)
            Rem_Cap.append(0)
            
        elif valu[i]<cap :
            Extra_Qty.append(0)
            Rem_Cap.append(cap-valu[i])
            
        else :
            Extra_Qty.append(0)
            Rem_Cap.append(0)
            
    import pandas as pd
    Table = {'Month':Month,'Dem':Dem,'Cap':Cap,'Extra_Qty':Extra_Qty,'Rem_Cap':Rem_Cap}
    df=pd.DataFrame(Table,index=range(1,13))
    return df

In [4]:
Task1(1000,dict1)

   Month   Dem   Cap  Extra_Qty  Rem_Cap
1    jan  1200  1000        200        0
2    feb   800  1000          0      200
3    mar   700  1000          0      300
4    apr   900  1000          0      100
5    may  1500  1000        500        0
6    jun   500  1000          0      500
7    jul   800  1000          0      200
8    aug  1400  1000        400        0
9    sep   110  1000          0      890
10   oct   100  1000          0      900
11   nov    85  1000          0      915
12   dec  1150  1000        150        0

In [5]:
Task1(1100,dict1)

   Month   Dem   Cap  Extra_Qty  Rem_Cap
1    jan  1200  1100        100        0
2    feb   800  1100          0      300
3    mar   700  1100          0      400
4    apr   900  1100          0      200
5    may  1500  1100        400        0
6    jun   500  1100          0      600
7    jul   800  1100          0      300
8    aug  1400  1100        300        0
9    sep   110  1100          0      990
10   oct   100  1100          0     1000
11   nov    85  1100          0     1015
12   dec  1150  1100         50        0